alertmanager:
  enabled: false
kube-state-metrics:
  enabled: true
prometheus-node-exporter:
  enabled: true
  hostNetwork: false
prometheus-pushgateway:
  enabled: false

server:
  extraFlags:
    - web.enable-otlp-receiver
    - web.enable-lifecycle
  service:
    servicePort: 9090
  persistentVolume:
    enabled: true
    storageClass: local-path-retain
  retention: 15d
  extraSecretMounts:
    - name: jupyterhub-metrics-api-token
      secretName: jupyterhub-metrics-api-token
      mountPath: /etc/secrets/jupyterhub
      readOnly: true

extraScrapeConfigs: |
  - job_name: 'grafana'
    metrics_path: /grafana/metrics
    static_configs:
      - targets: ['grafana.grafana.svc.cluster.local']

  - job_name: 'jaeger-agent'
    metrics_path: /metrics
    static_configs:
      - targets: ['jaeger-agent.jaeger.svc.cluster.local:14271']

  - job_name: 'jaeger-collector'
    metrics_path: /metrics
    static_configs:
      - targets: ['jaeger-collector.jaeger.svc.cluster.local:14269']

  - job_name: 'jaeger-query'
    metrics_path: /metrics
    static_configs:
      - targets: ['jaeger-query.jaeger.svc.cluster.local:16687']

  - job_name: 'loki'
    metrics_path: /metrics
    static_configs:
      - targets: ['loki.loki.svc.cluster.local:3100']

  - job_name: minio-cluster
    metrics_path: /minio/v2/metrics/cluster
    scheme: http
    static_configs:
      - targets: ['minio.minio-scout.svc.cluster.local']

  - job_name: minio-bucket
    metrics_path: /minio/v2/metrics/bucket
    scheme: http
    static_configs:
      - targets: ['minio.minio-scout.svc.cluster.local']

  - job_name: minio-node
    metrics_path: /minio/v2/metrics/node
    scheme: http
    static_configs:
    - targets: ['minio.minio-scout.svc.cluster.local']

  - job_name: minio-resource
    metrics_path: /minio/v2/metrics/resource
    scheme: http
    static_configs:
    - targets: ['minio.minio-scout.svc.cluster.local']

  - job_name: jupyterhub
    metrics_path: /jupyter/hub/metrics
    bearer_token_file: /etc/secrets/jupyterhub/metrics-api-token
    scheme: http
    static_configs:
      - targets: ['proxy-public.jupyter.svc.cluster.local']
