{
  "apiVersion": 1,
  "contactPoints": [
    {
      "orgId": 1,
      "name": "slack-scout",
      "receivers": [
        {
          "uid": "slack_scout_contact_point_01",
          "type": "slack",
          "settings": {
            "recipient": "{{ slack_channel_id }}",
            "text": "{% raw %}{{ template \"slack_message\" . }}{% endraw %}",
            "title": "{% raw %}{{ template \"slack_title\" . }}{% endraw %}",
            "token": "{{ slack_token }}"
          },
          "disableResolveMessage": false
        }
      ]
    }
  ]
}
