name: Post-Commit Tasks

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
  push:
    branches: [main, feb-17-ci]

env:
  JAVA_DIST: 'zulu'
  JAVA_VERSION: '21'
  REGISTRY: ghcr.io

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.1
      - uses: actions/setup-python@v5.2.0
        with:
          python-version: '3.12'
      - uses: actions/setup-java@v4
        with:
          distribution: ${{ ENV.JAVA_DIST }}
          java-version: ${{ ENV.JAVA_VERSION }}
      - uses: pre-commit/action@v3.0.1
  build-and-upload-artifact:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Checkout GitHub Action
        uses: actions/checkout@v4.2.1
      - name: 'Build/Cache Image - temporal-java'
        uses: ./.github/actions/docker-build-cache
        with:
          subproject: orchestration/temporal-java
          image-name: temporal-java
      - name: 'Build/Cache Image - temporal-python'
        uses: ./.github/actions/docker-build-cache
        with:
          subproject: orchestration/temporal-python
          image-name: temporal-python
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.1
      - uses: actions/setup-java@v4
        with:
          distribution: ${{ ENV.JAVA_DIST }}
          java-version: ${{ ENV.JAVA_VERSION }}
      - name: 'Unit tests: temporal-java'
        shell: bash
        run: cd orchestration/temporal-java && ./gradlew test
  deploy-and-test:
    runs-on: ubuntu-latest
    needs: [lint, build-and-upload-artifact, unit-test]
    steps:
      - uses: actions/checkout@v4.2.1
      - name: 'Prepare inventory.yaml'
        shell: bash
        run: cp .github/ci_resources/inventory.yaml ansible/
      - name: 'Install prerequisites'
        shell: bash
        run: sudo pip3 install kubernetes
      - name: 'ansible-galaxy dependencies'
        shell: bash
        run: cd ansible && sudo /opt/pipx_bin/ansible-galaxy install -r collections/requirements.yaml
      - name: 'Clone scout'
        shell: bash
        run: cd ansible && sudo /opt/pipx_bin/ansible-playbook -i inventory.yaml --diff playbooks/scout.yaml
      - name: 'Install k3s'
        shell: bash
        run: |
          cd ansible && sudo /opt/pipx_bin/ansible-playbook -vvv -i inventory.yaml --diff playbooks/k3s-cluster.yaml
      - name: 'Push image to k3s - temporal-java'
        uses: ./.github/actions/k3s-image-import
        with:
          image-name: temporal-java
      - name: 'Push image to k3s - temporal-python'
        uses: ./.github/actions/k3s-image-import
        with:
          image-name: temporal-python
      - name: 'Install helm and helm diff'
        shell: bash
        run: cd ansible && sudo /opt/pipx_bin/ansible-playbook -i inventory.yaml --diff playbooks/helm.yaml
      - name: 'Install minio'
        shell: bash
        run: |
          cd ansible && sudo /opt/pipx_bin/ansible-playbook -v -i inventory.yaml --diff playbooks/minio.yaml
          sudo kubectl describe pod -l v1.min.io/tenant=minio-scout -n minio-scout
      - name: 'Install orchestrator'
        shell: bash
        run: |
          cd ansible && sudo /opt/pipx_bin/ansible-playbook -i inventory.yaml --diff playbooks/orchestrator.yaml
          sudo kubectl -n minio-scout wait --for=condition=ready --timeout=300s pod -l v1.min.io/tenant=minio-scout
          sudo kubectl -n temporal wait --for=condition=complete --timeout=300s job/temporal-schema-1
      - name: 'Launch temporal ingestion'
        shell: bash
        run: sudo bash .github/launch_temporal_extraction.sh
      - uses: actions/setup-java@v4
        with:
          distribution: ${{ ENV.JAVA_DIST }}
          java-version: ${{ ENV.JAVA_VERSION }}
      - name: 'Run tests'
        shell: bash
        run: |
          minioIp=$(sudo kubectl get services/minio -n minio-scout -o json | jq '.status.loadBalancer.ingress[0].ip' -r)
          sed -i "s/\$IP/$minioIp/g" .github/test_config_template.json
          cp .github/ci_resources/test_config_template.json tests/src/test/resources/config/local.json
          cd tests
          ./gradlew test
      - name: Test Summary
        uses: test-summary/action@v2.4
        if: always()
        with:
          paths: 'tests/**/TEST-*.xml'
          show: 'fail, skip'
      - name: Logging (temporal-java)
        shell: bash
        if: always()
        run: |
          sudo kubectl -n orchestration-workers logs deployment/temporal-java
      - name: Logging (temporal-python)
        shell: bash
        if: always()
        run: |
          sudo kubectl -n orchestration-workers logs deployment/temporal-python
  publish:
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    needs: [deploy-and-test]
    steps:
      - name: Checkout GitHub Action
        uses: actions/checkout@v4.2.1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ ENV.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Push Image - temporal-java'
        uses: ./.github/actions/docker-push
        with:
          image-name: temporal-java
      - name: 'Push Image - temporal-python'
        uses: ./.github/actions/docker-push
        with:
          image-name: temporal-python
